* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* root */

section {
  padding: 5%;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #02182b;
}

h2 {
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #02182b;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #02182b;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #02182b;
}

p {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #02182b;
  text-align: justify;
}

span {
  color: #d7263d;
  font-weight: 300;
}

li {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #02182b;
  text-align: justify;
}

/* icons */

.logoicon {
  font-size: 25px;
  vertical-align: -1.5px;
}

.homebuttonicon {
  font-size: 20px;
  vertical-align: -3.5px;
}

.aboutusicon {
  vertical-align: -3px;
  font-size: 30px;
}

.dividericon {
  font-size: 50px;
  vertical-align: -10px;
  color: #d7263d;
}

.boxicons {
  vertical-align: -1px;
}

.recipebookicon {
  font-size: 30px;
  vertical-align: -3px;
}

.newspapericon {
  font-size: 30px;
  vertical-align: -3px;
}

.formicons {
  vertical-align: -2.5px;
  font-size: 18px;
  color: #d7263d;
}

.legendicons {
  font-size: 20px;
  vertical-align: -2px;
}

/* header */

header {
  position: fixed;
  width: 100%;
  padding: 30px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header .logo {
  color: white;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 1px;
}

header .logo span {
  font-weight: 800;
}

header .navigationbar {
  position: relative;
  display: flex;
}

header .navigationbar li {
  padding-left: 50px;
}

header .navigationbar li a {
  color: white;
  transition: 0.5s;
  font-weight: 300;
}

header .navigationbar li a:hover {
  color: #d7263d;
}

header.sticky {
  background: white;
  padding: 15px 100px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

header.sticky .logo {
  color: #02182b;
}

header.sticky .navigationbar li a {
  color: #02182b;
}

header.sticky .navigationbar li a:hover {
  color: #d7263d;
}

/* home */

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(5, 10, 30, 0.5), rgba(5, 10, 30, 0.5)),
    url(../images/landing/home.jpg);
  background-size: cover;
}

.home .content {
  padding-top: 5%;
  max-width: 900px;
  text-align: center;
}

.home .content h1 {
  color: white;
}

.home .content p {
  color: white;
  text-align: center;
}

.homebutton {
  border: 2px solid #d7263d;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  letter-spacing: 3px;
}

.homebutton:hover {
  color: white;
  background-color: #d7263d;
  box-shadow: 0px 0px 10px 2px #d7263d;
  border-radius: 10px;
  letter-spacing: 6px;
}

/* about */

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.2%;
}

.row .column {
  position: relative;
  width: 48%;
}

.row .column #signature {
  padding-left: 450px;
  font-weight: 400;
}

.row .column .imagebox {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.row .column .imagebox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(215, 38, 61, 0.5) 5px 5px, rgba(215, 38, 61, 0.4) 10px 10px,
    rgba(215, 38, 61, 0.3) 15px 15px, rgba(215, 38, 61, 0.2) 20px 20px,
    rgba(215, 38, 61, 0.1) 25px 25px;
}

/* divider */

.divider h3 {
  text-align: center;
  position: relative;
}

.divider h3:before {
  content: "";
  display: block;
  width: 500px;
  height: 2px;
  background: #02182b;
  left: 0;
  top: 50%;
  position: absolute;
  z-index: -2;
}

.divider h3:after {
  content: "";
  display: block;
  width: 500px;
  height: 2px;
  background: #02182b;
  right: 0;
  top: 50%;
  position: absolute;
  z-index: -2;
}

/* recipes */

.recipestitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.recipestitle h2 a {
  border-bottom: 3px solid #d7263d;
  color: #d7263d;
  transition: 0.5s;
}

.recipestitle h2 a:hover {
  letter-spacing: 2px;
}

.recipes .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
}

.recipes .content .box {
  width: 364px;
  margin: 10px;
  border: 10px solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.recipes .content .box .imagebox {
  position: relative;
  width: 100%;
  height: 250px;
}

.recipes .content .box .imagebox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.recipes .content .box .boxtext {
  padding: 10px;
  text-align: center;
}

.recipes .content .box .boxtext p {
  line-height: 60px;
  display: inline;
  font-size: 15px;
  padding: 5px;
}

.recipesbutton {
  background-color: transparent;
  border: 2px solid #d7263d;
  font-size: 14px;
  color: #02182b;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  letter-spacing: 1px;
}

.recipesbutton:hover {
  color: white;
  background-color: #d7263d;
  box-shadow: 0px 0px 5px 2px #d7263d;
  border-radius: 10px;
  letter-spacing: 2px;
}

/* subscribe */

.subscribe {
  background-image: linear-gradient(rgba(5, 10, 30, 0.5), rgba(5, 10, 30, 0.5)),
    url(../images/landing/subscribe.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.subscribetitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribetitle h2 {
  padding-top: 0%;
}

.subscribetitle p {
  padding-bottom: 1%;
}

form {
  background: white;
  width: 60%;
  margin: auto;
  max-width: 100%;
  padding: 40px;
  border-radius: 10px;
}

label {
  font-weight: 400;
  font-size: 18px;
  margin-left: 5px;
}

form .content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

form .content .databoxes {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 48%;
}

form .content .databoxes input {
  border-radius: 10px;
  border: 2px solid #d7263d;
  padding: 20px;
  width: 100%;
  height: 18px;
  outline: 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

form .action {
  text-align: center;
}

form .action input {
  background-color: transparent;
  border: 2px solid #d7263d;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  color: #02182b;
  margin-top: 5px;
}

form .action input:hover {
  color: white;
  background-color: #d7263d;
  border-radius: 10px;
  letter-spacing: 4px;
  box-shadow: 0px 0px 5px 2px #d7263d;
}

form .contactlink p {
  padding-top: 40px;
  text-align: center;
}

form .contactlink p span {
  transition: 0.5s;
  font-weight: 400;
}

form .contactlink p span:hover {
  letter-spacing: 2px;
}

/* footer */

.copyright {
  padding: 10px;
}

.copyright p {
  text-align: center;
}

.copyright p span {
  font-weight: 400;
  transition: 0.5s;
}

.copyright p span:hover {
  letter-spacing: 2px;
}
